// ======================================
//  images
// ======================================


.images{
  @include images ($img-width:60%, $img-brdr:1px solid, $img-padding:10px);
  padding:100px;
  background-size:cover;
  margin:10px 0;

}


.images{
  @include flexy ($alself:center);
}
