// main header container styling
.grid__row:first-child, .nav{
  display:flex;
  flex-direction: column;
    padding:2em;
}

// li styling in nav
.nav {
  margin-top:1.5em;
  list-style: none;
  padding:0;

  @media (min-width:480px){
    flex-direction:row;
  }

    & li {
          margin-left:.65em;
          margin-right:.65em;

        }
         a {
          @include nav-btn;
        }
      }

.grid__col--3:first-of-type{
  align-self: center;
}

// desktop nav

.grid__row:first-child{
  @media (min-width:480px){
    flex-direction:row;
    justify-content:space-between;
    padding:4em;
  }
}
