* {
  box-sizing:border-box;
}

.container{
  color:$color-text;
  font-size:1rem;
  line-height:2em;
  font-family: $font-stack-primary;
  margin:auto;
  width:90%;
  max-width:1600px;
}

p {
  font-size:1.1em;
}

//
